DATABASE_URL="postgresql://YOUR_DB_USER:YOUR_DB_PASSWORD@localhost:5433/YOUR_DB_NAME?schema=public"

# Generate JWT_SECRET key using this command in terminal
#  node -e "console.log(require('crypto').randomBytes(32).toString('hex'))"
JWT_SECRET=put_the_generated_key_here
JWT_EXPIRES_IN=1d #1 day expiration time for the jwt secret key